<div class="refresh">
	<button type = "button"  (click)="display()"> Display Catalog </button>    <br>
</div>
<div *ngIf = (disp)>
	<ol>
  <div class="dem" *ngFor="let d of data; index as i">
    <li><h4><b>Item Name:</b> {{d.title}} </h4></li>
    <button type="button" (click)= "edit(i)">Edit</button>
    <div *ngIf =(editt)>
	 <form id = "Form">
      <div class="form-group">
        <label for="name">Item Name: </label>
        <input type="text" class="form-control" id="name1" [(ngModel)]="text1" name= "p1" placeholder="Enter  item name " required>
      </div>

      <div class="form-group">
        <label for="alterEgo">Description </label>
        <input type="text" class="form-control" id="name2" [(ngModel)]="text2" name= "p2" placeholder="Description " required>
      </div>
      <div class="form-group">
        <label for="alter">Quantity </label>
        <input type="text" class="form-control" id="name3" [(ngModel)]="text3" name= "p3" placeholder="quantity " required>
      </div>
      <div >
 <button type="button" class="btn btn-success" (click)="onOK()">OK</button>
</div>
</form>
	</div>

    <button type="button" (click)= "delete(i)">Delete</button>
    <p><b>Description:</b> {{d.description}}</p><br>
      <img src="file:///C:/Users/Zone/Desktop/Web_Programming/examangular/examm/src/app/page/{{d.image}}" width="25px">
<br>
    <p><b>Quantity:</b> {{d.quantity}}</p>
  </div>
</ol>
</div>
